@font-face {

    font-family: 'Kanit';
    src: url(Kanit-Medium.ttf) format('truetype');

}

html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

#texto{
    
    font-family: 'Kanit';
    font-size: 20px;
}